<h1>고스트 하우스</h1>
<section>
  <div>
    <img src="">
    <p>52,300</p>
    <p><span>700<label>+</label></span><span>1.32%</span></p>
  </div>
  <button>주문 하기</button>
</section>
<section>
  <ul class="order_subtabmenu">
    <li>호가</li>
    <li>차트</li>
    <li>체결</li>
    <li>일별</li>
  </ul>
</section>
<table>
  <tr>
    <td>318.10</td>
    <td>2.45</td>
    <td>0.76%</td>
    <td>115,717</td>
  </tr>
</table>
<table>
  <tr>
    <th>일자</th>
    <th>증가</th>
    <th>전일비</th>
    <th>등락률</th>
    <th>거래량</th>
  </tr>
  <tr>
    <td>05.22</td>
    <td>275.010</td>
    <td>9.480</td>
    <td>3.33%</td>
    <td>8,945,756</td>
  </tr>
  <tr>
    <td>05.21</td>
    <td>283.490</td>
    <td>7.670</td>
    <td>3.33%</td>
    <td>8,945,756</td>
  </tr>
</table>