@mixin logo($width, $height, $margin) {
    width: $width;
    height: $height;
    border-radius: 50px;
    display: inline-block;
    margin-right: $margin;
    text-shadow: 0 0 black;
    border: 1px solid #2699fb;
}

.company_logo {
    @include logo(50px, 50px, 10px);
}

.popup_logo {
    @include logo(26px, 26px, 5px);
}


.cbox {
    position: relative;

    & > label {
        color: #878787;
        font-size: 10px;
    }
}

.cbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0
}

.cbox input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.cbox input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
    content: ' ';
    display: inline-block;
    width: 16px;  /* 체크박스의 너비를 지정 */
    height: 16px;  /* 체크박스의 높이를 지정 */
    line-height: 16px; /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 0;
    text-align: center; 
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius : 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}

.cbox input[type="checkbox"] + label:active:before, .cbox input[type="checkbox"]:checked + label:active:before { 
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.cbox input[type="checkbox"]:checked + label:before {
    /* 체크박스를 체크했을때 */ 
    content: '\2714'; /* 체크표시 유니코드 사용 */ 
    color: #99a1a7; 
    text-shadow: 1px 1px #fff; 
    background: #e9ecee; 
    border-color: #adb8c0; 
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}
