<main class="order_container">
  <h1 class="game_title">고스트 하우스</h1>
  <section class="order_subtabmenu">
    <p>52,300<br/>
    <span>700<label class="t_up"> </label></span><span>1.32%</span>
    </p>
  </section>
  <table class="kospi_table">
    <tr>
      <td>KOSPI200</td>
      <td>318.10</td>
      <td>2.45</td>
      <td>0.76%</td>
      <td>115,717</td>
    </tr>
  </table>
  <ul class="tab_menu_c">
    <li [class.selected]="'1' === list" (click)="selectTabMenu('1')">일반주문</li>
    <li [class.selected]="'2' === list" (click)="selectTabMenu('2')">호가주문</li>
    <li [class.selected]="'3' === list" (click)="selectTabMenu('3')">차트</li>
    <li [class.selected]="'4' === list" (click)="selectTabMenu('4')">잔고</li>
    <li [class.selected]="'5' === list" (click)="selectTabMenu('5')">조회</li>
  </ul>
  <section>
    <ul>
      <li>매수</li>
      <li>매도</li>
      <li>정정/취소</li>
    </ul>
    <div>
      <select>
        <option value="normal">nonrmal</option>
      </select>
      <button>현금</button>
      <button>-</button><div>0주</div><button>+</button>
      <button>-</button><div>13,250원</div><button>+</button>
      <input type="checkbox" name="price" id="market_price"><label for="market_price">시장가</label>
      <button>현금매수</button>
    </div>
  </section>
</main>
