<main class="page_container">
  <h1>고스트하우스</h1>
  <p class="sub">고스트와 함께 풀어가는 저택의 비밀</p>
  <article class="funding_datas_container">
    <iframe src="https://www.youtube.com/embed/c2klw64vR_w?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <section class="funding_datas">
      <figure>
        <img src="../../assets/img/ghost_icon.png"/>
        <div>
          <p>고스트 하우스</p>
          <button>구글 스토어</button>
          <button>애플 스토어</button>
        </div>
      </figure>
      <figure>
        <ul class="invest_condition_mobile">
          <li>원금<br/>보장</li>
          <li>R/S<br/>20%</li>
          <li>12M<br/>배분</li>
          <li>MAX 5K<br/>MiN 1k</li>
        </ul>
      </figure>
      <figure class="progress_mobile">
        <p>9일남음</p>
        <p>후원자:559명</p>
        <progress value="22" max="100"></progress>
        <p>87%</p>
        <p>59,400,000원 달성</p>
      </figure>
      <p>모인금액</p>
      <p id="desk_progress">59,400,000원
        <span id="progress">
          <!-- <label>87%</label> -->
          <label> </label>87%
          <label> </label>
        </span>
      </p>
      <p>남은시간</p>
      <p>9일</p>
      <p>후원자</p>
      <p>559명</p>
      <div class="button_box">
        <button>구글 스토어</button><button>애플 스토어</button>
        <button>투자하기</button>
        <button>♥69</button>
        <button>공유하기</button>
      </div>
    </section>
    <section class="company_tag">
      <p><span class="company_logo"></span>(주)브이에이트</p>
      <span>#모바일 서비스</span><span>#모바일 게임</span><span>#IT 서비스</span><span>#시뮬레이션</span>
        <span>#시뮬레이션</span><span>#모바일 서비스</span>
    </section>
    <section class="condition_box">
      <h2>투자 요건</h2>
      <ul class="invest_condition">
        <li>원금<br/>보장</li>
        <li>R/S<br/>20%</li>
        <li>12M<br/>배분</li>
        <li>MAX 5K<br/>MiN 1k</li>
      </ul>
    </section>
  </article>
  
  
  <ul class="page_subtabmenu">
    <li>스토리</li>
    <li>커뮤니티</li>
    <li>회사소개</li>
  </ul>
  
  <section class="story_box">
    <p>
      예기치 못한 사건으로 시작된 이야기.<br/>
      숲 속의 저택 고스트하우스가 간직한 비밀은?
    </p>
    <p>
      젊고 총명한 글로벌 산업가 '다니엘 콕스'와 비서 '마틴 톰슨', 파일럿 '티모시 달튼'은 어느 날 비즈니스 미팅을 위해 비행기를 타고 가던 중, 큰 폭풍우를 만나 사고를 당하고, '다니엘 콕스'는 고스트가 되어, 숲 속의 고스트 하우스에서 깨어나는데...
    </p>
    
    <h4 class="page_subtitle">특징</h4>
    <h4 class="page_subtitle_m">고스트 하우스 특징</h4>
    <p>
      <span>비밀의 저택</span>
      언제부터인지 어둠 속으로 사라졌던 숲 속의 저택.<br/>
      콕스 일행의 사고로 그 모습을 드러낸 저택에서 고스트가 당신을 기다리고 있어요!
    </p>
    <p>
      <span>고스트 하우스 재건</span>
      저주에 걸린 고스트하우스.<br/>
      아름다운 가구들로 고스트하우스를 다시 재건하여 아름다운 모습을 찾아주세요!
    </p>
    
    <p>
      <span>봉인된 고스트</span>
      비밀의 조각을 하나씩 간직한 고스트하우스의 고스트들.<br/>
      고스트들의 봉인을 풀어 비밀에 더 가까이 다가가 보세요!
    </p>
    
    <p>
      <span>인간의 침입</span>
      고스트하우스의 보물을 훔치기 위해 호시탐탐 기회를 노리는 인간들.
      고스트와 함께 인간을 놀래켜 저택을 지켜보세요!
    </p>
    
    <h4 class="page_subtitle">사이트</h4>
    
    <p class="site_more">
      [고스트 하우스 소식 더 보기]<br/>
      공식 카페: http://cafe.naver.com/ghosthousev8<br/>
      공식 페이스북: http://www.facebook.com/V8GHOSTHOUSE
    </p>
  </section>
  
  <app-footer></app-footer>
</main>
