@charset 'utf-8';

/* main color */

/* point color */
$blue: #4285f4;
$orange: #F4B400;
$red: #DB4437;

/* text color */

/* color related text */

/* icon color */


/* background color */

/* container */

