@charset 'utf-8';

/* main color */

/* point color */
$blue: #2699fb;
$orange: #ff8a00;
$red: #DB4437;
$boxColor: #f1f9ff;
$borderColor: #c2c2c2;

/* text color */

/* color related text */

/* icon color */


/* background color */

/* container */

$DesktopWidth: 1024px;
$DesktopGridPadding: 20px;