<main class="mypage_container">
  <h1 class="username">홍길동 님</h1>
  <article class="funding_data">
    <section>
      <ul class="chart_tabmenu">
        <li [class.selected]="'1' === list" (click)="selectTabMenu('1')">1일</li>
        <li [class.selected]="'2' === list" (click)="selectTabMenu('2')">3개월</li>
        <li [class.selected]="'3' === list" (click)="selectTabMenu('3')">1년</li>
        <li [class.selected]="'4' === list" (click)="selectTabMenu('4')">3년</li>
        <li [class.selected]="'5' === list" (click)="selectTabMenu('5')">10년</li>
        <li [class.selected]="'6' === list" (click)="selectTabMenu('6')">일봉</li>
        <li [class.selected]="'7' === list" (click)="selectTabMenu('7')">주봉</li>
        <li [class.selected]="'8' === list" (click)="selectTabMenu('8')">월봉</li>
      </ul>
      
    </section>
    <section class="data_number">
      <p>
        <span>투자액</span>
        12,000$
      </p>
      <p>
        <span>현재가치</span>
        15,000$
      </p>
      <p>
        <span>수익/손실</span>
        +3,000$(125%)
      </p>
    </section>
  </article>
  <p>내 투자 현황</p>
  <canvas class="funding_company_chart" #myCanvas width="300" height="200px" style="background: white;"></canvas>
  <article class="funding_now">
    <section class="dealing">
      <ul class="dealing_list">
        <li>
          <img src="../../assets/img/duck_icon.jpeg"/>
          <div>
            <h5>퍼즐</h5>
            <p>비덕:캔디...<span>105</span><span>23</span><img src="../../assets/svg/baseline-arrow_upward-24px.svg"></p>
          </div>
        </li>
        <li>
            <img src="../../assets/img/duck_icon.jpeg"/>
            <div>
              <h5>퍼즐</h5>
              <p>비덕:캔디...<span>105</span><span>23</span><img src="../../assets/svg/baseline-arrow_upward-24px.svg"></p>
            </div>
        </li>
        <li>
            <img src="../../assets/img/duck_icon.jpeg"/>
            <div>
              <h5>퍼즐</h5>
              <p>비덕:캔디...<span>105</span><span>23</span><img src="../../assets/svg/baseline-arrow_upward-24px.svg"></p>
            </div>
        </li>
        <li>
            <img src="../../assets/img/duck_icon.jpeg"/>
            <div>
              <h5>퍼즐</h5>
              <p>비덕:캔디...<span>105</span><span>23</span><img src="../../assets/svg/baseline-arrow_upward-24px.svg"></p>
            </div>
        </li>
      </ul>
    </section>
  </article>
</main>
