<main class="mypage_container">
  <h1 class="username">홍길동 님</h1>
  <article class="funding_data">
    <section>
      <ul class="chart_tabmenu">
        <li>1일</li>
        <li>3개월</li>
        <li>1년</li>
        <li>3년</li>
        <li>10년</li>
        <li>일봉</li>
        <li>주봉</li>
        <li>월봉</li>
      </ul>
      <canvas class="funding_company_chart" #myCanvas width="300" height="200px" style="background: white;"></canvas>
    </section>
    <section class="data_number">
      <p>
        <span>투자액</span>
        12,000$
      </p>
      <p>
        <span>현재가치</span>
        15,000$
      </p>
      <p>
        <span>수익/손실</span>
        +3,000$(125%)
      </p>
    </section>
  </article>
  <article class="funding_now">
    <h2>내 투자 현황</h2>
    <section>
  
    </section>
  </article>
</main>
