<main class="mypage_container">
  <h1 class="username">홍길동 님</h1>
  <article class="funding_data">
    <section>
      <ul class="chart_tabmenu">
        <li [class.selected]="'1' === list" (click)="selectTabMenu('1')">1일</li>
        <li [class.selected]="'2' === list" (click)="selectTabMenu('2')">1주일</li>
        <li [class.selected]="'3' === list" (click)="selectTabMenu('3')">1개월</li>
        <li [class.selected]="'6' === list" (click)="selectTabMenu('6')">일봉</li>
        <li [class.selected]="'7' === list" (click)="selectTabMenu('7')">주봉</li>
        <li [class.selected]="'8' === list" (click)="selectTabMenu('8')">월봉</li>
      </ul>
      <canvas class="time_chart" #timeChart width="480px" height="300px" style="background: white;"></canvas>
    </section>
    <section class="data_number">
      <p>
        <span>투자액</span>
        12,000$
      </p>
      <p>
        <span>현재가치</span>
        15,000$
      </p>
      <p>
        <span>수익/손실</span>
        +3,000$<b>(125%)</b>
      </p>
    </section>
  </article>
  <p class="my_invest_dash">내 투자 현황</p>
  <article class="funding_now">
    <canvas class="funding_company_chart" #myCanvas width="480px" height="500px" style="background: white;"></canvas>
    <section class="dealing">
      <ul class="dealing_list">
        <li *ngFor="let game of dealingList">
          <img src="{{game.icon_url}}"/>
          <div>
            <h5>{{game.category}}</h5>
            <p><b>{{game.title}}</b><span>105</span><span>23</span><img src="../../assets/svg/baseline-arrow_upward-24px.svg"></p>
          </div>
        </li>
      </ul>
    </section>
  </article>
</main>
