@import '~assets/css/base/reset.scss';
/* You can add global styles to this file, and also import other style files */
html {
    height: auto;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', "돋움", sans-serif;
}
