<table class="hoga_table_top">
  <tr>
    <td><span class="table_bar_left" style="width: 100px;"><label>452,339</label></span></td>
    <td>53,000</td>
    <td>0.00%</td>
    <td rowspan="7">
        전일거래량<br/>
        거래량<br/>
        거래금<br/>
        52주 최고<br>
        52주 최저<br>
        상한가<br>
        하한가<br>      
    </td>
  </tr>
  <tr>
    <td><span class="table_bar_left" style="width: 50px;"><label>888,999</label></span></td>
    <td>44444</td>
    <td>0.22%</td>
  </tr>
  <tr>
    <td><span class="table_bar_left" style="width: 80px;"><label>66,333</label></span></td>
    <td>83,000</td>
    <td>5.55%</td>
  </tr>
  <tr>
    <td><span class="table_bar_left" style="width: 200px;"><label>123,222</label></span></td>
    <td>382,999</td>
    <td>9.77%</td>
  </tr>
  <tr>
    <td><span class="table_bar_left" style="width: 300px;"><label>234,555</label></span></td>
    <td>128,000</td>
    <td>88.5%</td>
  </tr>
  <tr>
    <td><span class="table_bar_left" style="width: 255px;"><label>987,333</label></span></td>
    <td>66,000</td>
    <td>1.2%</td>
  </tr>
  <tr>
    <td><span class="table_bar_left" style="width: 168px;"><label>111,222</label></span></td>
    <td>111,111</td>
    <td>2.2%</td>
  </tr>
</table>
<table class="hoga_table_bottom">
  <tr>
    <td rowspan="7">
      <p>체결강도</p>
    </td>
    <td>53,000</td>
    <td>0.00%</td>
    <td><span class="table_bar_right" style="width: 80px;"><label>66,333</label></span></td>
  </tr>
  <tr>
    <td>44444</td>
    <td>0.22%</td>
    <td><span class="table_bar_right" style="width: 80px;"><label>66,333</label></span></td>
  </tr>
  <tr>
    <td>83,000</td>
    <td>5.55%</td>
    <td><span class="table_bar_right" style="width: 80px;"><label>66,333</label></span></td>
  </tr>
  <tr>
    <td>382,999</td>
    <td>9.77%</td>
    <td><span class="table_bar_right" style="width: 80px;"><label>66,333</label></span></td>
  </tr>
  <tr>
    <td>128,000</td>
    <td>88.5%</td>
    <td><span class="table_bar_right" style="width: 80px;"><label>66,333</label></span></td>
  </tr>
  <tr>
    <td>66,000</td>
    <td>1.2%</td>
    <td><span class="table_bar_right" style="width: 80px;"><label>66,333</label></span></td>
  </tr>
  <tr>
    <td>111,111</td>
    <td>2.2%</td>
    <td><span class="table_bar_right" style="width: 80px;"><label>66,333</label></span></td>
  </tr>
  <tr>
    <td>1,322,222</td>
    <td colspan="2">정규장</td>
    <td>1,428,333</td>
  </tr>
</table>