.funding_ing {
    display: flex;
    justify-content: space-between;
    & > h2 {

    }

    & > div {
        background-color: pink;
        width: 200px;
        height: 200px;

    }
}

.dealing {

}

.news {

}

.realtime {

}

.news2 {

}