@import '~assets/css/helpers/variables';

.funding_ing {
    display: flex;
    justify-content: space-between;
    

    & > div {
        background-color: $boxColor;
        width: 214px;
        height: 214px;
    }

    & h5 {
        margin: 0;
    }

    & iframe {
        width: 213.25px;
        height: 120px;
    }
}

progress {
    width: 100%;
    border: none;
    background-color: #ddd;
    height: 7px;
    margin: 0 auto;
}

progress::-webkit-progress-bar {
    background-color: #ddd;
    border: none;
}

progress::-webkit-progress-value {
    background-color: $blue;
}

.dealing {
    width: 360px;
    box-sizing: border-box;

    & > h2 {
        margin-bottom: 0;
    }

    & > .dealing_list {
        padding: 0;
        margin-left: 16px;

        & > li:nth-child(1) {
            padding-top: 0;
        }

        & > li {
            display: flex;
            border-bottom: 1px solid grey;
            padding-bottom: 17px;
            padding-top: 17px;

            & > img {
                width: 70px;
                height: 70px;
                padding-right: 20px;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            & > div > h5 {
                margin: 0;
                color: $blue;
                font-weight: 400;
            }

            & > div > p {
                margin: 0;
                font-size: 25px;
                font-weight: bolder;
            }

            & > div > p > span {
                font-size: 22px;
                margin: 0px 10px;
            }

            & > div > p > span:nth-child(1) {
                margin-left: 22px;
            }

            & > div > p > span:nth-child(2) {
                color: orange;
            }

            & > div > p > span:nth-child(3) {
                color: orange;
            }
        }
    }
}

.news {
    margin: 0px 14px;

    & > div {
        width: 200px;
        height: 420px;
        background-color: $boxColor;
    }
}

.small_section {
    flex: 1;
    margin-right: 10px;

    & > div {
        width: 200px;
        height: 200px;
        background-color: $boxColor;
        margin: 0;
    }
}

.home_box {
    display: flex;
    flex-wrap: wrap;
}

.img_box {
    width: 1000px;
    height: 400px;
    background-image: url(../../assets/img/ghosthouse.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;

    & > .img_title {
        font-size: 45px;
        font-weight: bolder;
    }

    & > p {
        position: absolute;
        left: 50px;
        bottom: 0;
        color: white;
        font-size: 30px;
        font-weight: bolder;
    }
}

footer {
    background-color: grey;
    width: 100vw;
    // position: absolute;
    // left: 0;
    // bottom: 0;

    & > div {
        margin: 0 auto;
        width: 1000px;
    }

    & > div > h2 {
        color: $blue;
        font-size: 24px;
    }

    & > div > h1 {
        color: $blue;
        font-size: 40px;
    }

    & > div > p {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        color: red;
        line-height: 200%;
        padding: 10px 0px;
        font-size: 10px;
    }

    & > div > p > a {
        color: red;
    }

    & > div > p > span {
        color: black;
    }
}

@media all and (max-width: 767px) {


    .img_box {
        width: 100%;
        height: 342px;
        display: block;
        background-size: cover;

        & > p {
            font-size: 18px;
            left: 6%;
            bottom: -1%;

            & > .img_title {
                font-size: 36px;
            }
        }
    }

    .funding_ing {
        flex-wrap: wrap;
        padding: 0 3.5vw;
        & > div {
            width: 100%;
            height: 104px;
            display: flex;
            align-items: center;
            background-color: transparent;
            border-bottom: 1.5px solid lightgrey;

            & p {
                margin: 0;
            }

            & > div {
                width: 100%;

                & > span {
                    color: $blue;
                    font-size: 11px;
                    font-weight: bold;
                }

                & > .game_title {
                    font-size: 23px;
                    font-weight: bolder;
                }

                & > p {
                    font-size: 11px;
                    font-weight: bold;
                }

                & > p:last-child {
                    margin-top: 1.8vw;
                }
            }
        }

        & iframe {
            width: 130.25px;
            height: 93px;
            margin-right: 3.5vw;
        }
    }

    .dealing {
        box-sizing: border-box;
        padding: 0 3.5vw;

       & > .dealing_list {
            margin: 0;
    
            & > li {
                padding-bottom: 10px;
                padding-top: 10px;

                & > div {
                    justify-content: center;
                }

                & > div > p {
                    font-size: 23px;
                    font-weight: bolder;
                }

                & > div > p > span {
                    font-size: 18px;
                }

                & > img {
                    width: 80px;
                    height: 80px;
                }
            }
        }

    }


    .news, .small_section {
        display: none;
    }

    footer {
        width: 100%;
        background-color: transparent;
        margin-top: 8vw;
        padding: 0 3.5vw;
        box-sizing: border-box;

        & > div {
            width: 100%;
            display: flex;
            flex-direction: column;

            & > h2 {
                order: 0;
                margin: 0;
                font-size: 20px;
            }
            & > h1 {
                order: 1;
                margin: 0;
            }

            & > p {
                order: 4;
                border-bottom: 0px;
                font-size: 11px;
                line-height: 140%;
            }

            & > p > span {
                color: red;
            }

            & > p > a {
                display: block;
                text-decoration: none;
            }

            & > .sns_icons {
                order: 2;
                display: flex;
                width: 27%;
                justify-content: space-around;
            }

            & > .sns_icons > svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}
