@import '~assets/css/helpers/variables';
@import '~assets/css/components/list';

.funding_ing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: $DesktopWidth;

    & > div > img {
        width: 100%;
        height: 155px;
    }

    & > h2 {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 23px;
        color: black;
        font-weight: bold;
        padding-left: 15px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    & > div {
        background-color: $boxColor;
        width: 240px;
        height: 271px;
    }

    & h5 {
        margin: 0;
    }

    & iframe {
        width: inherit;
        height: 155px;
    }

    & .game_data {
        padding: 0px 10px;
        height: 271px - 155px;

        & > span {
            font-size: 11px;
            color: $blue;
            font-weight: normal;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        & > .game_title {
            cursor: pointer;
            font-size: 20px;
            color: black;
            font-weight: bold;
            margin-bottom: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 138px;
            line-height: 120%;
        }

        & > p {
            font-size: 10px;
            margin-top: 5px;
            font-weight: bold;
            color: black;
        }

        & > p:last-child {
            display: flex;
            justify-content: space-between;
        }
    }
}

progress {
    width: 100%;
    border: none;
    background-color: #ddd;
    height: 7px;
    margin: 0 auto;
}

progress::-webkit-progress-bar {
    background-color: #ddd;
    border: none;
}

progress::-webkit-progress-value {
    background-color: $blue;
}

.blue {
    color: $blue;
}

.orange {
    color: $orange;
}

.complete_funding_list {
    padding: 0;
    margin-left: 10px;

    & progress {
        width: 360px;
        height: 16px;
    }

    & > li {
        cursor: pointer;
        display: flex;
        border-bottom: 1px solid $borderColor;
        padding-bottom: 20px;
        padding-top: 20px;

        & > img {
            width: 70px;
            height: 70px;
            padding-left: 5px;
            padding-right: 24px;
        }

        & > div {
            width: 360px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        & > div > h5 {
            margin: 0;
            color: #5a5a5a;
            font-size: 20px;
            font-weight: bold;
        }

        & > div > p {
            margin: 0;
            font-size: 29px;
            font-weight: bolder;
            color: black;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > b {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 150px;
                margin-right: 50px;
            }
        }

        & > div > p > span {
            font-size: 15px;
        }

        & > div > p > span:nth-child(1) {
            color: $orange;
        }

        & > div > p > span:nth-child(2) {
            font-weight: bold;
            color: black;
        }

        & > div > p > span:nth-child(3) {
            color: $orange;
        }

        & > div > p > img {
            width: 30px;
        }
    }
}


.news {
    margin: 0px 16px;

    & > h2 {
        font-size: 23px;
        color: black;
        font-weight: bold;
        margin-bottom: 15px;
    }


    & > div {
        width: 247px;
        height: 476px;
        background-color: $boxColor;
        color: #eee;
        line-height: 476px;
        font-size: 30px;
        text-align: center;
        text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
    }
}

.small_section {
    flex: 1;

    & > h2 {
        font-size: 23px;
        color: black;
        font-weight: bold;
        margin-bottom: 15px;
    }

    & > div {
        width: 247px;
        height: 214px;
        background-color: $boxColor;
        margin: 0;
        color: #eee;
        line-height: 214px;
        font-size: 30px;
        text-align: center;
        text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
    }
}

.home_box {
    width: $DesktopWidth;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
}

.img_box {
    width: $DesktopWidth;
    height: 505px;
    background-image: url(../../assets/img/ghosthouse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;

    & .img_title {
        font-size: 66px;
        font-weight: bolder;
        margin-top: 20px;
        display: block;
    }

    & > p {
        position: absolute;
        left: 35px;
        bottom: 35px;
        color: white;
        font-size: 35px;
        font-weight: bold;
        line-height: 125%;
    }
}

@media all and (max-width: 767px) {
    .img_box {
        width: 100%;
        height: 342px;
        display: block;
        background-size: cover;

        & > p {
            font-size: 18px;
            left: 6%;
            bottom: -1%;

            & > .img_title {
                font-size: 36px;
            }
        }
    }

    .funding_ing {
        flex-wrap: wrap;
        padding: 0 3.5vw;
        & > div {
            width: 100%;
            height: 104px;
            display: flex;
            align-items: center;
            background-color: transparent;
            border-bottom: 1.5px solid lightgrey;

            & p {
                margin: 0;
            }

            & > div {
                width: 100%;

                & > span {
                    color: $blue;
                    font-size: 11px;
                    font-weight: bold;
                }

                & > .game_title {
                    font-size: 23px;
                    font-weight: bolder;
                }

                & > p {
                    font-size: 11px;
                    font-weight: bold;
                }

                & > p:last-child {
                    margin-top: 1.8vw;
                }
            }
        }

        & iframe {
            width: 130.25px;
            height: 93px;
            margin-right: 3.5vw;
        }
    }

    .dealing {
        box-sizing: border-box;
        padding: 0 3.5vw;

       & > .dealing_list {
            margin: 0;
    
            & > li {
                padding-bottom: 10px;
                padding-top: 10px;

                & > div {
                    justify-content: center;
                }

                & > div > p {
                    font-size: 23px;
                    font-weight: bolder;
                }

                & > div > p > span {
                    font-size: 18px;
                }

                & > img {
                    width: 80px;
                    height: 80px;
                }
            }
        }

    }


    .news, .small_section {
        display: none;
    }

    // footer {
    //     width: 100%;
    //     background-color: transparent;
    //     margin-top: 8vw;
    //     padding: 0 3.5vw;
    //     box-sizing: border-box;

    //     & > div {
    //         width: 100%;
    //         display: flex;
    //         flex-direction: column;

    //         & > h2 {
    //             order: 0;
    //             margin: 0;
    //             font-size: 20px;
    //         }
    //         & > h1 {
    //             order: 1;
    //             margin: 0;
    //         }

    //         & > p {
    //             order: 4;
    //             border-bottom: 0px;
    //             font-size: 11px;
    //             line-height: 140%;
    //         }

    //         & > p > span {
    //             color: red;
    //         }

    //         & > p > a {
    //             display: block;
    //             text-decoration: none;
    //         }

    //         & > .sns_icons {
    //             order: 2;
    //             display: flex;
    //             width: 27%;
    //             justify-content: space-around;
    //         }

    //         & > .sns_icons > svg {
    //             width: 20px;
    //             height: 20px;
    //         }
    //     }
    // }
}
