<div class="img_box">
  <p>
    고스트와 함께 풀어가는<br/>
    저택의 비밀<br/>
    <span class="img_title">고스트 하우스</span>
  </p>
</div>

<section class="funding_ing">
  <h2>펀딩 진행중 <img src="../../assets/svg/baseline-chevron_right-24px.svg"></h2>
  <div *ngFor="let game of fundingList.slice(0, 4)">
      <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(game.video_url)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="game_data">
        <span>{{game.category}}</span>
        <p class="game_title" routerLink="/funding/{{game.title}}">{{game.title}}</p>
        <progress value="22" max="100"></progress>
        <p><span>87%</span><span>478,000원 달성 9일남음</span></p>
      </div>
  </div>
</section>
<section>

</section>
<article class="home_box">
  <section class="dealing">
    <h2>거래진행중 <img src="../../assets/svg/baseline-chevron_right-24px.svg"></h2>
    <ul class="dealing_list">
      <li *ngFor="let game of dealingList" routerLink="/dealing/{{game_title}}">
        <img src="{{game.icon_url}}"/>
        <div>
          <h5>{{game.category}}</h5>
          <p><b>{{game.title}}</b><span>105</span><span>23</span><img src="../../assets/svg/baseline-arrow_upward-24px.svg"></p>
        </div>
      </li>
    </ul>
  </section>
  <section class="news">
    <h2>소식</h2>
    <div>준비중</div>
  </section>
  <section class="small_section">
    <h2>실시간정보</h2>
    <div style="margin-bottom: 10px;">준비중</div>
    <h2>소식2</h2>
    <div>준비중</div>
  </section>
</article>


<app-footer></app-footer>